@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Attendance Management System.</h1>
    <h2 class="display-6">This software is created by Shahriar Sikder.</h2>
    
</div>
